* {
    box-sizing: border-box;
}

body, ::after, ::before {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 1rem;
}

.hero h1 {
    font-size: 2rem;
}

a {
    color: #f9faf8;
    text-decoration: none;
}

.nav_container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.left_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    flex-grow: 0%;
}

.right_nav {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.right_nav nav a {
    padding: .3em;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5em auto;
    width: 80%;
}

.left_content {
    padding: .5em;
}

.left_content h1 {
    font-size: 3em;
    font-weight: 900;
    color: #f9faf8;
}

.right_content {
    margin: 0 2em;
}

.signup_button {
    padding: .3em 1.3em;
    outline: none;
    border-radius: .5em;
    background-color: #3882f6;
    color: #f9faf8;
    cursor: pointer;
}

.img_charly {
    width: 21em;
    padding: 0 1em;
    border-radius: 3em 7em;
}

section {
    width: 100%;
}

.section_container h2 {
    text-align: center;
    margin-top: 1.3em;
    margin-bottom: 0;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
}

.section_container {
    width: 80%;
    margin: 0 auto;
}

.boxes {
    display: flex;
    flex-wrap: nowrap;
    gap: 2em;
    padding-top: 1em;
    margin: 0 auto;
    align-items: center;
    width: 100%;
}

.box {
    /* display: flex;
    justify-content: center; */
    width: 100%;
}

.box img {
    border: 1px solid #3882f6;
    border-radius: 1em;
    width: 100%;
    height: 100%;
}

.description_boxes {
    display: flex;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    gap: 1em;
}

.description_box {
    margin: 0 auto;
    padding: .5em;
}

.article {
    height: 15em;
    background-color: #e5e7eb;
}

.article p {
    font-size: 1.5em;
    padding: 1em;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
}

.call_action {
    display: flex;
    margin: 2.3em auto;
    border-radius: .5em;
    background-color: #3882f6;
    width: 65%;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    color: #e5e7eb;
}

.action_one {
    display: flex;
    flex-direction: column;
}

.action_one p, .action_one h2 {
    margin: .2em;
    padding: .1em;
}

.action_two {
    padding-right: 3em;
}

.action_two button {
    background-color: #3882f6;
    border-radius: .5em;
    /* border: 1px solid #bebcbc; */
    color: #e5e7eb;
    padding: .3em 1em;
    cursor: pointer;
}

.footer {
    text-align: center;
    padding: 0;
    background-color: #1F2937;
    color: #e5e7eb;
}

.footer p {
    display: inline-block;
    padding: 0 1em;
}